.button__delete {
  cursor: pointer;
  border-radius: 4px;
  background: white;
  width: 20px;
  height: 20px;
  border: 0 none;
  outline: 0 none;

  &:hover {
    &--icon path {
      fill: red;
      color: red;
      stroke: red;
    }
  }

  &__delete--icon {
    width: 20px;
    height: 20px;
  }
}
