@import '@src/assets/_variables';

.shopping-cart {
  &__h1 {
    color: @text-color;
    font-size: 36px;
    font-weight: 500;
    margin: 48px 0;
  }

  &__h2 {
  }

  &__h3 {
  }

  &__h4 {
  }

  &__h6 {
  }

  &__title {
    color: @text-color;
    font-size: 22px;
    line-height: 23px;
    font-weight: 500;
    margin: 0;
  }

  &__description {
    margin-top: 4px;
    font-size: 12px;
    line-height: 1.4;
    color: rgb(115, 121, 140);
  }

  &__text {
  }

  &__totalCost {
    font-size: 26px;
    font-weight: 700;
  }

  &__cost {
    font-size: 18px;
    font-weight: 500;
  }
}
