.h1 {
  color: #000000;
  font-size: 36px;
  font-weight: 500;
  margin: 48px 0;
}

.h2 {
}

.h3 {
}

.h4 {
}

.h6 {
}

.title {
  color: rgb(0, 0, 0);
  font-size: 22px;
  line-height: 23px;
  font-weight: 500;
  margin: 0;
}

.description {
  margin-top: 4px;
  font-size: 12px;
  line-height: 1.4;
  color: rgb(115, 121, 140);
}

.text {
}

.totalCost {
  font-size: 26px;
  font-weight: 700;
}

.cost {
  font-size: 18px;
  font-weight: 500;
}
