.card__item__wrapper {
  width: 100%;
  padding: 16px 10px;
  border-bottom: 1px solid #efefef;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &:hover {
    background: #fbfbfc;
  }
}
