.shopping-cart__form {
  display: flex;
  align-items: center;

  div {
    flex: 1;
    padding-right: 5px;

    &:last-child {
      padding-right: 0;
      flex: 0;
    }
  }

  &__button-wrap {
    padding-top: 18px;
  }
}


